<div *ngIf="boards != null">
  <mat-nav-list>
    <div *ngFor="let board of boards" class="mat-row">


      <mat-list-item>
        <button type="button"
                title="Edit board settings, or delete board" (click)="goToBoardSetup(board)">
          <mat-icon matListIcon>edit</mat-icon>
        </button>

        <a [routerLink]="['/board', board.id]" routerLinkActive="active">
          <mat-list-item>

            Go to tasks for board: {{board.name}}
          </mat-list-item>
        </a>

      </mat-list-item>

    </div>


  </mat-nav-list>
</div>


<form>
  <label>Create new board:</label>
  <mat-form-field>
    <input matInput placeholder="Enter name of board" #newboard>
  </mat-form-field>
  <button type="button"
          title="Save new board" (click)="onSubmitNewBoard(newboard.value); newboard.value = '';">
    <mat-icon matListIcon>add</mat-icon>
  </button>
</form>
