
<mat-card class="task-card">
  <mat-card-header>
    <mat-card-title title="click to open the task form" class="my-card-title">
      <span> Task: {{task?.name}} </span>
    </mat-card-title>
    <!--mat-card-subtitle>priority {{task?.priority}}</mat-card-subtitle-->
  </mat-card-header>
  <mat-card-content>
    <span>Description: {{task?.description}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button title="Delete task" color="warn" (click)="deleteTask()">DEL</button>
    <button mat-button title="Move to prev stage" color="accent" (click)="moveBack()" *ngIf="moveBackEnabled">PREV
    </button>
    <button mat-button title="Move to next stage" color="accent" (click)="moveAhead()" *ngIf="moveAheadEnabled">NEXT
    </button>
  </mat-card-actions>
</mat-card>

