div {
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.warning {
  background: yellow;
}

.info {
 background: forestgreen;
}

.critical {
  background: darkred;
}

.shadow {
  background: #e8e8e8;
  text-align: center;
}

.shadow p {
  background: white;
  display: inline-block;
  width: 60%;
  height: 100px;
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
