
app-stage {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

ul {
  list-style: none;
}

.column {
  background: wheat;
}

app-task {

}
