<div>
  <header mat-subheader>
    <h3>
      Stage: {{stage.name}}
    </h3>
  </header>
  <div>
    <form class="example-form" (submit)="createTask()">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="newTaskText"
               placeholder="task name .."
               [formControl]="taskNameFormControl">
      </mat-form-field>

      <button mat-button color="primary" type="submit" *ngIf="newTaskText != '' && newTaskText != null"> Add task
      </button>
    </form>
  </div>


  <div *ngFor="let task of stage.tasks">
    <app-task [moveBackEnabled]="moveBackEnabled" [moveAheadEnabled]="moveAheadEnabled" [task]="task"
              (moveAheadEvent)="onMoveAheadEvent($event)"
              (moveBackEvent)="onMoveBackEvent($event)"
              (deleteTaskEvent)="onDeleteTaskEvent($event)"
    ></app-task>


  </div>


</div>
