/*

header {
  background: aquamarine;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: aqua solid thick;
}
*/

.full-width {
  width: 100%;
}
div {
  width: 100%;
}
ul {
  list-style: none;
}

.column {
  background: wheat;
  border-right: aquamarine;
  border-left-style: dashed;
}



