<div>
  <header mat-subheader>
    <h3>
      Stage: {{stage.name}}
    </h3>


  </header>
  <div>
    <form class="example-form">
      <mat-form-field aria-required="true" class="full-width">
        <input required matInput [(ngModel)]="newTaskText"
               placeholder="Enter new task description" value=""
               [formControl]="taskNameFormControl">
        <!--<mat-error *ngIf="taskNameFormControl.touched && taskNameFormControl.hasError('required')">-->
        <!--task name is <strong>required</strong>-->
        <!--</mat-error >-->
      </mat-form-field>

      <button mat-button color="primary" type="submit" (click)="createTask()" *ngIf="newTaskText != ''"> Add task
      </button>
    </form>
  </div>


  <div *ngFor="let task of stage.tasks">
    <app-task [moveBackEnabled]="moveBackEnabled" [moveAheadEnabled]="moveAheadEnabled" [task]="task"
              (moveAheadEvent)="onMoveAheadEvent($event)"
              (moveBackEvent)="onMoveBackEvent($event)"
              (deleteTaskEvent)="onDeleteTaskEvent($event)"
    ></app-task>


  </div>


</div>
