<div class="alert alert-danger" *ngIf="error != null ">
  {{error  | json}}
</div>
<h2>Signup new user</h2>
<form  (submit)="signup(username.value, password.value)" >
  <mat-form-field class="example-full-width">
    <input
      placeholder="username:"
      matInput type="text"
      id="username" name="username"
       #username />

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" placeholder="password:" matInput
           id="password" name="password"
       #password />
  </mat-form-field>
  <div class="example-full-width">
    <button type="submit" mat-button class="btn btn-primary">Create new user</button>
  </div>
</form>
