.example-full-width {
  width: 100%;
}

.div-container {
  width: 100%;
}

.example-form {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
